@{
    ViewData["Title"] = "Previous Day Test";
}

<div class="text-center">
    <h1 class="display-4">Previous Day Test</h1>
</div>
<br>
<h3>Symbol: @ViewBag.PreviousDay.symbol</h3>
<h3>Date: @ViewBag.PreviousDay.date</h3>
<h3>High: @ViewBag.PreviousDay.open</h3>
<h3>Symbol: @ViewBag.PreviousDay.high</h3>
<h3>Low: @ViewBag.PreviousDay.low</h3>
<h3>Close: @ViewBag.PreviousDay.close</h3>
<h3>Volume: @ViewBag.PreviousDay.volume</h3>
<h3>Unadjusted Volume: @ViewBag.PreviousDay.unadjustedVolume</h3>
<h3>Change: @ViewBag.PreviousDay.change</h3>
<h3>Change Percent: @ViewBag.PreviousDay.changePercent</h3>
<h3>Volume Weighted Average Price: @ViewBag.PreviousDay.vwap</h3>