@{
    ViewData["Title"] = "Stock Stats Test";
}

<div class="text-center">
    <h1 class="display-4">Stock Stats Test</h1>
</div>
<br>
<h3>Company Name: @ViewBag.StockStats.companyName</h3>
<h3>Market Cap: @ViewBag.StockStats.marketcap</h3>
<h3>Beta: @ViewBag.StockStats.beta</h3>
<h3>52 Week High: @ViewBag.StockStats.week52high</h3>
<h3>52 Week Low: @ViewBag.StockStats.week52low</h3>
<h3>52 Week Change: @ViewBag.StockStats.week52change</h3>
<h3>Short Interest: @ViewBag.StockStats.shortInterest</h3>
<h3>Short Date: @ViewBag.StockStats.shortDate</h3>
<h3>Dividend Rate: @ViewBag.StockStats.dividendRate</h3>
<h3>Dividend Yield: @ViewBag.StockStats.dividendYield</h3>
<h3>Ex Dividend Date: @ViewBag.StockStats.exDividendDate</h3>
<h3>Lastest EPS: @ViewBag.StockStats.latestEPS</h3>
<h3>Lastest Date of EPS: @ViewBag.StockStats.latestEPSDate</h3>
<h3>Out Standing Shares: @ViewBag.StockStats.sharesOutstanding</h3>
<h3>Float: @ViewBag.StockStats.Float</h3>
<h3>Return on Equity: @ViewBag.StockStats.returnOnEquity</h3>
<h3>Consensus EPS: @ViewBag.StockStats.consensusEPS</h3>
<h3>Number of Estimates: @ViewBag.StockStats.numberOfEstimates</h3>
<h3>EPS Surpise Dollar: @ViewBag.StockStats.EPSSurpriseDollar</h3>
<h3>EPS Surpise Percent: @ViewBag.StockStats.EPSSurprisePercent</h3>
<h3>Symbol: @ViewBag.StockStats.symbol</h3>
<h3>EBITDA: @ViewBag.StockStats.EBITDA</h3>
<h3>Revenue: @ViewBag.StockStats.revenue</h3>
<h3>Gross Profit: @ViewBag.StockStats.grossProfit</h3>
<h3>Cash: @ViewBag.StockStats.cash</h3>
<h3>Debt: @ViewBag.StockStats.debt</h3>
<h3>TTM EPS: @ViewBag.StockStats.ttmEPS</h3>
<h3>Revenue Per Share: @ViewBag.StockStats.revenuePerShare</h3>
<h3>Revenue Per Employee: @ViewBag.StockStats.revenuePerEmployee</h3>
<h3>PE Ratio High: @ViewBag.StockStats.peRatioHigh</h3>
<h3>PE Ration Low: @ViewBag.StockStats.peRatioLow</h3>
<h3>Return On Assets: @ViewBag.StockStats.returnOnAssets</h3>
<h3>Return On Capital: @ViewBag.StockStats.returnOnCapital</h3>
<h3>Profit Margin: @ViewBag.StockStats.profitMargin</h3>
<h3>Price To Sale: @ViewBag.StockStats.priceToSales</h3>
<h3>Price To Book: @ViewBag.StockStats.priceToBook</h3>
<h3>200 Day Moving Average: @ViewBag.StockStats.day200MovingAvg</h3>
<h3>50 Day Moving Average: @ViewBag.StockStats.day50MovingAvg</h3>
<h3>Institution Percent: @ViewBag.StockStats.institutionPercent</h3>
<h3>Insider Percent: @ViewBag.StockStats.insiderPercent</h3>
<h3>Share Ratio: @ViewBag.StockStats.shortRatio</h3>
<h3>5 Year Change Percent: @ViewBag.StockStats.year5ChangePercent</h3>
<h3>2 Year Change Percent: @ViewBag.StockStats.year2ChangePercent</h3>
<h3>1 Year Change Percent: @ViewBag.StockStats.year1ChangePercent</h3>
<h3>YTD Change Percent: @ViewBag.StockStats.ytdChangePercent</h3>
<h3>6 Month Change Percent: @ViewBag.StockStats.month6ChangePercent</h3>
<h3>3 Month Change Percent: @ViewBag.StockStats.month3ChangePercent</h3>
<h3>1 Month Change Percent: @ViewBag.StockStats.month1ChangePercent</h3>
<h3>5 Day Change Percent: @ViewBag.StockStats.day5ChangePercent</h3>
<h3>30 Day Change  Percent: @ViewBag.StockStats.day30ChangePercent</h3>